POSTGRES_DB={{cookiecutter.underscored}}_db
POSTGRES_USER={{cookiecutter.underscored}}_user
POSTGRES_PASSWORD=XXXXXXXXXXXXXXXXXXX
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=XXXXXXXXXXXXXXXXXXX